# Android
*.apk
*.ap_
*.dex

# Java class files
*.class
bin/
gen/

# Android Studio
local.properties
proguard/
.navigation/
captures/
.idea
.gradle/
build/
*.log
*.iml
gradle/
gradlew
gradlew.bat
google_app_id.xml
